@model IEnumerable<CDOBadIdea.App.BlogPost>
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Index";
}

@foreach (var post in Model)
{
    <section class="section">
        <h1 class="title">
            @post.Title
        </h1>
        <h2 class="subtitle">
            @post.Author @@ @post.Date
        </h2>
        <p>
            @Html.Raw(post.Content)
        </p>
    </section>
}