
@{
    ViewData["Title"] = "Private";
}

<section class="section">
    <h1 class="title">Private</h1>
    <p>
        Hello, Admin. Welcome to the private section, where you can access all the social security numbers
        of our members. Please sign out when you're done.
    </p>
</section>